

body {
    font-family: arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1514454529242-9e4677563e7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 27px;
    text-align: left;
    margin-bottom: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 100;
    line-height: 17px;
}
li:first-letter {
    text-transform: capitalize;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    font-size: 52px;
    line-height: 0.5;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 14px;
    top: -24px;
}

.weather-temperature .active {
    color: black;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.days-forecast {
    margin-top: 20px;
    color: black;
    text-align: center;
}

.forecast-date {
    font-size: 16px;
    opacity: 0.5;
}
 
.forecast-temperature {
    font-size: 12px;
}
.forecast-temperature-min {
    opacity: 0.5;
}